/* Fundo com imagem */
body {
    background-color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 550px;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.form-container label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}


.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-bottom: 15px;
    font-size: 15px;
}


.form-check {
    margin-bottom: 12px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin: 15px 0;
}

.checkbox-group input {
    width: 18px;
    height: 18px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #188092;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover {
    background: #136b72;
}
.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    color: #1B6E81;
    margin-top: 50px;
}

.footer-logo {
    width: 120px; 
    margin-bottom: 10px;
}

.footer p {
    font-size: 15px;
    margin: 0;
}